.time-container {
  display:flex;
  align-content: center;
  height:100%;
  flex-direction: column;
  text-align: center;
}

.time {
  font-size:8em;
  padding:0;
  margin:0;
  display:block;
  align-self: center;
}

.time-container a {
  font-weight: bolder;
  display:inline-block;
}